@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    margin: 0;
    height: 100%;
    background: #fff;
    // font-family: "proxima-nova", sans-serif;
    font-family: 'Roboto', 'sans-serif';
}



h1, h2, h3, h4, h5, h6, p, a, ul, li {
    font-weight: 100;
}

.appWrapper {
}