.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.header {
    height: 150px;
}

.tile {
    height: 350px;
    width: 300px;
    border: 0.5px solid #dbdada;
    background: #fff;
    margin: 10px;
}

.header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}