.wrapper {
    display: flex;
    flex-direction: column;

}

.header {
    position: fixed;
    width: 100%;
}

.body {
    // height: 100%;
}

.sideBar {
    position: fixed;
    height: 100%;
    width: 300px;
    background-color: #f8f9fa;;
    top: 70px;
    left: 0;
}

.mainContnet {
    margin-left: 300px;
    margin-top: 70px;
    padding: 20px;
}