.wrapper {
    display: flex;
    flex-direction: column;
}

.header {
    position: fixed;
    width: 100%;
}

.body {
    // height: 100%;
}

.sideBar {
    position: fixed;
    height: 100%;
    width: 300px;
    background-color: #d5d3d3;;;
    top: 80px;
    left: 0;
}

.mainContnet {
    margin-left: 300px;
    margin-top: 80px;
    padding: 20px;
}